api.paypay.iddqd.in {
  encode gzip

  @bff path /api/* /health /readyz
  handle @bff {
    reverse_proxy bff:3000
  }

  handle {
    respond 404
  }
}

paypay.iddqd.in {
  encode gzip
  reverse_proxy frontend:3000
}
