{
  auto_https
  email {env.CADDY_ADMIN_EMAIL}
}

https://{$PAYPAY_DOMAIN} {
  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy bff:3000
  }

  handle /health {
    reverse_proxy bff:3000
  }

  handle_path /healthz {
    respond "ok" 200
  }

  handle /readyz {
    reverse_proxy bff:3000
  }

  handle {
    reverse_proxy frontend:3000
  }
}

https://{$PAYPAY_API_DOMAIN} {
  encode gzip

  handle_path /healthz {
    respond "ok" 200
  }

  reverse_proxy bff:3000
}

https://localhost {
  tls internal
  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy bff:3000
  }

  handle /health {
    reverse_proxy bff:3000
  }

  handle_path /healthz {
    respond "ok" 200
  }

  handle /readyz {
    reverse_proxy bff:3000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
