# Secrets and configuration for the BFF service.
BTCPAY_SERVER_URL=
# DEPRECATED: BTCPAY_DEFAULT_API_KEY
# DEPRECATED: BTCPAY_URL
# DEPRECATED: BTCPAY_API_KEY
FRONTEND_ORIGIN=
BFF_URL=http://bff:4000
